:root {
  --primary-color: #141010;
  --secondary-color: #f70776;
}

body {
  background-color: var(--primary-color);
}

h1 {
  font-size: 5px;
  color: var(--primary-color);
}

h2 {
  font-size: 64px;
  font-weight: lighter;
  color: var(--secondary-color);
}

h3 {
  color: white;
  font-size: 96px;
  margin-top: 200px;
}

h4 {
  color: var(--secondary-color);
  font-size: 96px;
}

button {
  background-color: var(--primary-color);
  border: none;
  margin-bottom: 25px;
}

img {
  width: 100px;
  border-radius: 200px;
  background-color: white;
  justify-content: left;
}

.container {
  text-align: center;
  padding: 40px;
}

.about,
.work,
.contact {
  display: none;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 50px;
  }

  h3,
  h4 {
    font-size: 72px;
  }

  img {
    width: 70px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 35px;
  }

  h3,
  h4 {
    font-size: 50px;
  }

  img {
    width: 55px;
  }

  h3 {
    margin-top: 100px;
  }

  button {
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  h3:hover .hello {
    display: none;
    transition: ease-in-out;
  }

  h3:hover .about {
    display: block;
    transition: ease-in-out;
  }

  h4:hover .ali {
    display: none;
    transition: ease-in-out;
  }

  h4:hover .work {
    display: inline;
    transition: ease-in-out;
  }

  h2:hover .front-end-dev {
    display: none;
    transition: ease-in-out;
  }

  h2:hover .contact {
    display: inline;
  }

  .navbar-navigation {
    display: none;
  }
}

@media (min-width: 500px) {
  h3 {
    margin-top: 100px;
  }
}
