:root {
  --primary-color: #141010;
  --secondary-color: #f70776;
}

body {
  background-color: var(--primary-color);
}

h1 {
  font-size: 5px;
  color: var(--primary-color);
}

h2 {
  font-size: 64px;
  margin-top: 40px;
  font-weight: lighter;
  color: var(--secondary-color);
  margin-left: 350px;
}

h3 {
  color: white;

  font-size: 96px;
  margin-left: 800px;
}

h4 {
  color: var(--secondary-color);
  font-size: 96px;
  margin-top: 40px;
  margin-left: 750px;
}

img {
  display: block;
  max-width: 10%;
  border-radius: 200px;
  margin-top: 30px;
  background-color: white;
}

.container {
  text-align: right;
  max-width: 90%;
  margin: 40px;
}

.about,
.work,
.contact {
  display: none;
}

h3:hover .hello {
  display: none;
  transition: ease-in-out;
}

h3:hover .about {
  display: inline;
  transition: ease-in-out;
}

h4:hover .ali {
  display: none;
  transition: ease-in-out;
}

h4:hover .work {
  display: inline;
  transition: ease-in-out;
}

h2:hover .front-end-dev {
  display: none;
  transition: ease-in-out;
}

h2:hover .contact {
  display: inline;
}
