:root {
  --primary-color: #141010;
  --secondary-color: #f70776;
}

body {
  background-color: var(--primary-color);
  padding: 30px;
  padding-top: 120px;
}

h1 {
  font-size: 5px;
  color: var(--primary-color);
}

h2 {
  font-size: 64px;
  font-weight: lighter;
  color: var(--secondary-color);
}

h3 {
  color: white;
  font-size: 96px;
  text-align: right;
}

h4 {
  color: var(--secondary-color);
  font-size: 96px;
}

h5 {
  color: var(--secondary-color);
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
}

h6 {
  color: white;
  font-size: 20px;
  font-weight: lighter;
}

button {
  background-color: var(--primary-color);
  border: none;
  margin-bottom: 25px;
  text-decoration: none;
}

img {
  width: 100px;
  border-radius: 200px;
  background-color: white;
  justify-content: left;
}

p {
  color: white;
}

.container-about {
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 100px;
}

.container-work {
  padding-left: 140px;
  padding-right: 140px;
}

.about,
.work,
.contact {
  display: none;
}

.about-start {
  font-size: 80px;
  margin-top: 180px;
}

.about-description {
  text-align: right;
}

.about-page,
.portfolio {
  text-align: left;
  line-height: 40px;
  display: block;
}

.about-page {
  margin-top: 110px;
}

.portfolio {
  text-align: center;
  margin-top: 100px;
}

.container-outside-buttons {
  margin-left: 120px;
  margin-right: 100px;
}

.linkme {
  font-size: 30px;
  font-weight: lighter;
}

#arrow {
  margin-left: 1000px;
  font-size: 30px;
  color: white;
}

#about-heading {
  color: var(--primary-color);
}

#herbivore,
#weather-app {
  text-decoration: none;
  color: white;
  font-size: 70px;
  line-height: 80px;
  display: block;
  text-align: center;
}

#linkedin,
#instagram {
  font-size: 30px;
  margin-left: 20px;
  color: white;
  margin-bottom: 50px;
}

#email-icon {
  font-size: 40px;
  margin-right: 20px;
  color: white;
}

#email {
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 200px;
  color: var(--secondary-color);
  font-weight: lighter;
}

#ali-link,
#front-end-link,
#hello-link {
  text-decoration: none;
}

#contact-heading {
  text-align: center;
}

@media (max-width: 480px) {
  h2 {
    font-size: 35px;
  }

  h3,
  h4 {
    font-size: 50px;
  }

  img {
    width: 55px;
  }

  h3 {
    margin-top: 100px;
  }

  button {
    margin: 0 auto;
  }
}

@media (max-width: 720px) {
  p {
    font-size: 12px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 60px;
  }

  h4 {
    font-size: 60px;
  }

  h5 {
    font-size: 20px;
  }

  .container-work {
    padding-left: 80px;
    padding-right: 80px;
  }

  .about-start {
    margin-top: 100px;
    font-size: 50px;
  }

  .about-description {
    font-size: 20px;
  }

  .about-baking {
    margin-top: 80px;
    font-size: 15px;
  }

  .about-page {
    font-size: 60px;
  }

  .portfolio {
    margin-top: 50px;
    font-size: 60px;
  }

  .linkme {
    margin-top: -60px;
  }

  #email,
  #email-icon {
    font-size: 25px;
  }

  #about-heading {
    margin-top: 0px;
  }

  #weather-app,
  #herbivore {
    font-size: 45px;
  }

  #hello-link {
    margin-top: -20px;
  }
}

@media (max-width: 1200px) {
  .about-baking {
    margin-top: 200px;
  }

  .linkme {
    margin-bottom: 0px;
  }

  .container-about {
    margin-top: -60px;
  }

  #ali-link,
  #front-end-link,
  #hello-link {
    pointer-events: none;
    cursor: default;
  }

  #herbivore {
    margin-top: 80px;
  }

  #weather-app {
    margin-top: 100px;
  }

  #arrow {
    margin-left: 800px;
  }

  #contact-heading {
    margin-top: 100px;
  }
}

@media (max-width: 1024px) {
  h2 {
    font-size: 50px;
  }

  h3,
  h4 {
    font-size: 65px;
  }

  h5 {
    font-size: 30px;
  }

  img {
    width: 70px;
  }

  .portfolio {
    margin-top: 80px;
  }

  .about-start {
    margin-top: 170px;
    font-size: 70px;
  }

  .about-baking {
    margin-top: 90px;
  }

  .linkme {
    font-size: 20px;
  }

  #contact-heading {
    margin-top: 150px;
  }

  #herbivore,
  #weather-app {
    line-height: 0px;
    font-size: 50px;
    margin-bottom: 40px;
  }

  #hello-link {
    margin-top: 10px;
  }

  #arrow {
    margin-left: 700px;
  }

  #email,
  #email-icon {
    font-size: 30px;
  }

  #email {
    margin-bottom: 150px;
  }

  #linkedin,
  #instagram {
    font-size: 20px;
    margin-bottom: 0px;
  }

  #about-heading {
    margin-top: 120px;
  }
}

@media (max-width: 820px) {
  .about-start {
    margin-top: 250px;
  }

  .about-baking {
    margin-top: 200px;
  }

  .portfolio {
    margin-top: 200px;
  }

  .linkme {
    text-align: center;
    margin-top: -30px;
  }

  #arrow {
    margin-left: 420px;
    margin-top: 30px;
  }

  #about-heading {
    margin-top: 250px;
  }
}

@media (min-width: 1200px) {
  h3:hover .hello {
    display: none;
    transition: ease-in-out;
  }

  h3:hover .about {
    display: inline;
    transition: ease-in-out;
  }

  h4:hover .ali {
    display: none;
    transition: ease-in-out;
  }

  h4:hover .work {
    display: inline;
    transition: ease-in-out;
  }

  h2:hover .front-end-dev {
    display: none;
    transition: ease-in-out;
  }

  h2:hover .contact {
    display: inline;
    transition: ease-in-out;
  }

  .navbar-navigation {
    display: none;
  }

  .about-baking {
    padding-top: 250px;
  }

  #hello-link {
    margin-top: 0px;
  }
}
